{% extends 'baseAdmin.html.twig' %}

{% block title %}Players!{% endblock %}

{% block body %}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

  <nav class="navbar navbar-main navbar-expand-lg position-sticky mt-4 top-1 px-0 mx-4 shadow-none border-radius-xl z-index-sticky" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
         
          <li class="breadcrumb-item text-sm">
            <a class="opacity-5 text-dark" href="javascript:;">Management </a>
          </li>
          <li class=" text-sm text-dark active" aria-current="page"> / List Fans</li>
        </ol>
        <h6 class="font-weight-bolder mb-0">Fans</h6>
      </nav>
      <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none ">
        <a href="javascript:;" class="nav-link text-body p-0">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
          </div>
        </a>
      </div>
      
    </div>
  </nav>
    <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="card">
      
              <div class="card-header pb-0">
                <div class="d-lg-flex">
                  <div>
                    <h5 class="mb-0">All Fans</h5>
                    
                  </div>
                  <div class="ms-auto my-auto mt-lg-0 mt-4">
                    <div class="ms-auto my-auto">
                     
                        <a href="{{ path('app_addvisitor') }}" class="btn btn-primary"  style="float: right; margin-bottom: 20px;" >+&nbsp; New Fan</a>
                     
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pb-0">
                <div class="table-responsive">
                  <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                    <div class="dataTable-top">
                      <div class="input-group input-group-outline">
                        <label class="form-label">Search here</label>
                        <input type="text" class="form-control dataTable-input"  id="visitorSearchInput">
                      </div>
                      
                    </div>
                    <div class="dataTable-container">
                      <table class="table table-flush dataTable-table" id="visitor-list">
                        <thead class="thead-light">
                          <tr>
                            <th  class="border-0 text-center" scope="col"  colspan="1"><a href="#" class="dataTable-sorter">ID</a>   
                            </th>
                            <th class="border-0 text-center" scope="col"   colspan="1"><a href="#" class="dataTable-sorter">IMAGE</a>   
                            </th>
                            <th class="border-0 text-center" scope="col"  colspan="1"><a href="#" class="dataTable-sorter">EMAIL</a>
                            </th>
                            <th class="border-0 text-center" scope="col"  colspan="1"><a href="#" class="dataTable-sorter">FULL NAME</a></th>
                            <th class="border-0 text-center" scope="col"  colspan="1"><a href="#" class="dataTable-sorter">ROLE</a></th>
                            <th class="border-0 text-center" scope="col"  colspan="1"><a href="#" class="dataTable-sorter">GENDER</a>
                            </th>
                            <th class="border-0 text-center" scope="col"  colspan="1"><a href="#" class="dataTable-sorter">PHONE</a></th>
                          
                            <th class="border-0 text-center" scope="col"  colspan="1"><a href="#" class="dataTable-sorter">Action</a></th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for users in u  %}
                            <tr>
                              <td class="text-center text-sm"> {{ users.id }}</td>
                              <td class="text-center text-sm"> <img class="w-10" src="{{ asset('uploads/user_images/' ~ users.getImage) }}"></td>
                              <td class=" text-center text-sm">{{ users.email  }}</td>
                              <td class=" text-center text-sm">{{ users.name  }}</td>
                              <td class="text-center text-sm">
                                {% if 'ROLE_ADMIN' in users.roles %}
                                <span class="badge badge-danger badge-sm">ADMIN</span>
                                {% elseif 'ROLE_REFEREE' in users.roles %}
                                <span class="badge badge-primary badge-sm">REFEREE</span>
                            {% elseif 'ROLE_PLAYER' in users.roles %}
                                <span class="badge badge-primary badge-sm">PLAYER</span>
                           
                                {% elseif 'ROLE_VISITOR' in users.roles %}
                                <span class="badge badge-primary badge-sm">VISITOR</span>
                            {% endif %}
                            
                                </td>
                                
                              
                              <td class=" text-center text-sm">{{ users.gender }}</td>
                              <td class=" text-center text-sm">{{ users.phonenumber }}</td>
                             
                              <td class=" text-center text-sm">
                             
                                <a href="{{ path('app_modvisitor', {'id':users.id}) }}" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Edit Visitor">
                                  <i class="material-icons text-secondary position-relative text-lg">drive_file_rename_outline</i>
                                </a>
                                <a href="{{ path('app_supvisitor', {'id':users.id}) }}" data-bs-toggle="tooltip" data-bs-original-title="Delete Visitor">
                                  <i class="material-icons text-secondary position-relative text-lg">delete</i>
                                </a>
                              </td>
                             
                            </tr>
                            {% endfor %}
                        </tbody>
      
                      </table>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </div>
</main>
<script>
  // Get the search input element
  const searchInput = document.getElementById('visitorSearchInput');

  // Add an event listener to the search input for keyup event
  searchInput.addEventListener('keyup', function() {
    const filter = searchInput.value.toLowerCase(); // Get the search filter value

    // Get all table rows in the table body
    const tableRows = document.querySelectorAll('#visitor-list tbody tr');

    // Loop through each table row and hide/show based on the search filter
    tableRows.forEach(function(row) {
      const playerName = row.querySelector('.text-center.text-sm:nth-child(3)').innerText.toLowerCase();
      if (playerName.includes(filter)) {
        row.style.display = ''; // Show the row if the player name matches the filter
      } else {
        row.style.display = 'none'; // Hide the row if the player name doesn't match the filter
      }
    });
  });
</script>
{% endblock %}
