
<div class="col-lg-4 ms-auto me-auto p-lg-4 mt-lg-0 mt-4">
  <div class="rotating-card-container">
     <div class="card card-rotate card-background card-background-mask-primary shadow-primary mt-md-0 mt-5 mb-5">
        
        <div class="front front-background" style="background-image: url({{ asset('uploads/player_images/' ~ playerCard.image) }}); background-size: cover;">
           <div class="card-body py-10 text-center">
              <h3 class="text-white" style="font-size: 150px; position: absolute; bottom: 0px; right: 10px;">{{ playerCard.ranking }}</h3>
              <h3 class="text-white opacity-8" style="font-size: 40px; position: absolute; bottom: 40px; right: 110px;">RANK</h3>
              <h2 class="text-white mb-5">{{ playerCard.firstName }} {{ playerCard.lastName }}</h2>
              
              <h5 class="text-white">Nationality </h5><p class="text-white opacity-8">{{ playerCard.nationality }}</p>
             
              <h5 class="text-white">Bio </h5><p class="text-white opacity-8"> {{ playerCard.bio }}</p>
           </div>
        </div>
        
        <div class="back back-background" style="background-image: url({{ asset('uploads/player_images/' ~ playerCard.image) }}); background-size: cover;">
           <div class="card-body pt-7 text-center">
              <h3 class="text-white">Discover More</h3>
              <p class="text-white opacity-8">Discover a diverse lineup of talented players and delve into their profiles, unlocking a wealth of information and insights</p>
              <a href="https://demos.creative-tim.com/sections/page-sections/hero-sections.html" target="_blank" class="btn btn-white btn-sm w-50 mx-auto mt-3">See All Players</a>
           </div>
        </div>
        
     </div>
  </div>
</div>