<div class="col-12 col-lg-6">
<div class="card bg-primary shadow-soft text-center border-light">
    <div class="card-header">
        <span class="card-text small"><span class="far fa-calendar-alt mr-2"></span>{{ match.date|date('Y-m-d') }}</span>
    </div>
    <div class="card-body">
      <h3 class="h5 card-title">{{ match.player1}} VS {{ match.player2}}</h3>
      <p class="card-text">Tournament{{ match.tournament}}</p>
      <p class="card-text">Winner : {{ match.winner}}</p>
      <a href="#" class="btn btn-primary btn-sm">See Results</a>
    </div>
    <div class="card-footer">
        <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="23k followers">
            <img class="avatar-sm mr-2 img-fluid rounded-circle" src="./assets/img/team/profile-picture-2.jpg" alt="Moore avatar"> Jo J. Moore
        </a>
    </div>
</div>
</div>