{% extends 'baseAdmin.html.twig' %}
    {% block body %}
  
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

      <nav class="navbar navbar-main navbar-expand-lg position-sticky mt-4 top-1 px-0 mx-4 shadow-none border-radius-xl z-index-sticky" id="navbarBlur" data-scroll="true">
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
             
              <li class="breadcrumb-item text-sm">
                <a class="opacity-5 text-dark" href="javascript:;">View </a>
              </li>
              <li class=" text-sm text-dark active" aria-current="page"> / List Overview</li>
            </ol>
            <h6 class="font-weight-bolder mb-0">Overview</h6>
          </nav>
          <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none ">
            <a href="javascript:;" class="nav-link text-body p-0">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </div>
          
        </div>
      </nav>
      <div class="container-fluid py-4 mt-5 ">
        <div class="d-flex mb-5">
          <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-xl mt-n3 ms-4">
          <i class="material-icons opacity-10" aria-hidden="true">person</i>
          </div>
          <h6 class="mt-3 mb-2 ms-3 ">Profiles</h6>
          </div>
        <div class="row">
          <div class="col-lg-12 position-relative z-index-2">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card  mb-2">
                      <div class="card-header p-3 pt-2">
                            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                              <i class="material-icons opacity-10">person</i>
                            </div>
                            <div class="text-end pt-1">
                              
                              <p class="text-sm mb-0 text-capitalize">Visitors</p>
                              <h1 class="mb-0">{{ totalVisitors }}</h1>
                            </div>
                      </div>
                    <hr class="dark horizontal my-0">
                     
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card  mb-2">
                  <div class="card-header p-3 pt-2">
                      <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">person</i>
                      </div>
                      <div class="text-end pt-1">
                        
                        <p class="text-sm mb-0 text-capitalize">Admins</p>
                        <h1 class="mb-0">{{ totalAdmins }}</h1>
                      </div>
                  </div>
                <hr class="dark horizontal my-0">
                
              </div>
          
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card  mb-2">
                  <div class="card-header p-3 pt-2">
                      <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">person</i>
                      </div>
                      <div class="text-end pt-1">
                        
                        <p class="text-sm mb-0 text-capitalize">Referees</p>
                        <h1 class="mb-0">{{ totalReferees }}</h1>
                      </div>
                  </div>
                <hr class="dark horizontal my-0">
                  
              </div>
          
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card  mb-2">
                  <div class="card-header p-3 pt-2">
                      <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                        <i class="material-icons opacity-10">person</i>
                      </div>
                      <div class="text-end pt-1">
                        
                        <p class="text-sm mb-0 text-capitalize">Players</p>
                        <h1 class="mb-0">{{ totalPlayers }}</h1>
                      </div>
                  </div>
                <hr class="dark horizontal my-0">
                
              </div>
          
            </div>
      </div>
      </div>
       
      <div class="container-fluid py-4 mt-5 ">
        <div class="d-flex mb-5">
          <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-xl mt-n3 ms-4">
          <i class="material-icons opacity-10" aria-hidden="true">sports_tennis</i>
          </div>
          <h6 class="mt-3 mb-2 ms-3 ">Matches</h6>
          </div>
        <div class="row">
          <div class="col-lg-12 position-relative z-index-2">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card  mb-2">
                      <div class="card-header p-3 pt-2">
                            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                              <i class="material-icons opacity-10">sports_tennis</i>
                            </div>
                            <div class="text-end pt-1">
                              
                              <p class="text-sm mb-0 text-capitalize">Matches</p>
                              <h1 class="mb-0">{{ totalMatches }}</h1>
                            </div>
                      </div>
                    <hr class="dark horizontal my-0">
                    
        </div>
      </div>
       
      <div class="container-fluid py-4 mt-5 ">
        <div class="d-flex mb-5">
          <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-xl mt-n3 ms-4">
          <i class="material-icons opacity-10" aria-hidden="true">contacts</i>
          </div>
          <h6 class="mt-3 mb-2 ms-3 ">Complaints</h6>
          </div>
        <div class="row">
          <div class="col-lg-12 position-relative z-index-2">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card  mb-2">
                      <div class="card-header p-3 pt-2">
                            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                              <i class="material-icons opacity-10">contacts</i>
                            </div>
                            <div class="text-end pt-1">
                              
                              <p class="text-sm mb-0 text-capitalize">Complaints</p>
                              <h1 class="mb-0">{{ totalComplaints }}</h1>
                            </div>
                      </div>
                    <hr class="dark horizontal my-0">
                    
        </div>
      </div>
      <div class="container-fluid py-4 mt-5 ">
        <div class="d-flex mb-5">
          <div class="icon icon-shape icon-lg bg-gradient-primary shadow text-center border-radius-xl mt-n3 ms-4">
          <i class="material-icons opacity-10" aria-hidden="true">newspaper</i>
          </div>
          <h6 class="mt-3 mb-2 ms-3 ">News</h6>
          </div>
        <div class="row">
          <div class="col-lg-12 position-relative z-index-2">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="card  mb-2">
                      <div class="card-header p-3 pt-2">
                            <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-xl mt-n4 position-absolute">
                              <i class="material-icons opacity-10">newspaper</i>
                            </div>
                            <div class="text-end pt-1">
                              
                              <p class="text-sm mb-0 text-capitalize">News</p>
                              <h1 class="mb-0">{{ totalNews }}</h1>
                            </div>
                      </div>
                    <hr class="dark horizontal my-0">
                 
        </div>
      </div>
            
      </div>
      </div>
      
      </div>
      </div>
       
  </main>
  
    {% endblock %}
  