{% extends 'baseAdmin.html.twig' %}

{% block title %}Players!{% endblock %}

{% block body %}

<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">

  <nav class="navbar navbar-main navbar-expand-lg position-sticky mt-4 top-1 px-0 mx-4 shadow-none border-radius-xl z-index-sticky" id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
         
          <li class="breadcrumb-item text-sm">
            <a class="opacity-5 text-dark" href="javascript:;">Management </a>
          </li>
          <li class=" text-sm text-dark active" aria-current="page"> / List Matches</li>
        </ol>
        <h6 class="font-weight-bolder mb-0">Matches</h6>
      </nav>
      <div class="sidenav-toggler sidenav-toggler-inner d-xl-block d-none ">
        <a href="javascript:;" class="nav-link text-body p-0">
          <div class="sidenav-toggler-inner">
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
            <i class="sidenav-toggler-line"></i>
          </div>
        </a>
      </div>
      
    </div>
  </nav>
    <div class="container-fluid py-4">
        <div class="row">
          <div class="col-12">
            <div class="card">
      
              <div class="card-header pb-0">
                <div class="d-lg-flex">
                  <div>
                    <h5 class="mb-0">All Matches</h5>
                   
                  </div>
                  <div class="ms-auto my-auto mt-lg-0 mt-4">
                    <div class="ms-auto my-auto">
                     
                        <a href="{{ path('app_addMatch') }}" class="btn btn-primary"  style="float: right; margin-bottom: 20px;" >+&nbsp; New Match</a>
                     
                  </div>
                </div>
              </div>
              <div class="card-body px-0 pb-0">
                <div class="table-responsive">
                  <div class="dataTable-wrapper dataTable-loading no-footer sortable searchable fixed-columns">
                    <div class="dataTable-top">
                      <div class="input-group input-group-outline">
                        <label class="form-label">Search here</label>
                        <input type="text" class="form-control dataTable-input"  id="matchSearchInput">
                      </div>
                      
                    </div>
                    <div class="dataTable-container">
                      <table class="table table-flush dataTable-table" id="matches-list">
                        <thead class="thead-light">
                          <tr>
                            <th  class="border-0 text-center" scope="col" data-sortable="" colspan="1"><a href="#" class="dataTable-sorter">ID</a>   
                            </th>
                            <th class="border-0 text-center" scope="col" data-sortable="" colspan="1"><a href="#" class="dataTable-sorter">DATE</a>   
                            </th>
                            <th class="border-0 text-center" scope="col" data-sortable="" colspan="1"><a href="#" class="dataTable-sorter">TOURNAMENT</a>
                            </th>
                            <th class="border-0 text-center" scope="col" data-sortable="" colspan="1"><a href="#" class="dataTable-sorter">TYPE</a>
                            </th>
                            <th class="border-0 text-center" scope="col" data-sortable="" colspan="1"><a href="#" class="dataTable-sorter">REFEREE</a>
                            </th>
                            <th class="border-0 text-center" scope="col" data-sortable="" colspan="1"><a href="#" class="dataTable-sorter">PLAYER 1</a></th>
                            <th class="border-0 text-center" scope="col" data-sortable="" colspan="1"><a href="#" class="dataTable-sorter">PLAYER 2</a></th>
                            <th class="border-0 text-center" scope="col" data-sortable="" colspan="1"><a href="#" class="dataTable-sorter">PLAYER 3</a></th>
                            <th class="border-0 text-center" scope="col" data-sortable="" colspan="1"><a href="#" class="dataTable-sorter">PLAYER 4</a></th>
                            <th class="border-0 text-center" scope="col" data-sortable="" colspan="1"><a href="#" class="dataTable-sorter">WINNER</a>
                            </th>
                         
                            <th class="border-0 text-center" scope="col" data-sortable="" colspan="1"><a href="#" class="dataTable-sorter">RESULTAT</a></th>
                            <th class="border-0 text-center" scope="col" data-sortable="" colspan="1"><a href="#" class="dataTable-sorter">STATUS</a></th>
                           
                            <th class="border-0 text-center" scope="col" data-sortable="" colspan="1"><a href="#" class="dataTable-sorter">Action</a></th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for matches in m %}
                          <tr>
                            <td class="text-center text-sm"> {{ matches.id }}</td>
                            <td class=" text-center text-sm">{{ matches.date|date('Y-m-d') }}</td>
                            <td class=" text-center text-sm">{{ matches.tournament }}</td>
                            <td class=" text-center text-sm">{{ matches.type }}</td>
                            <td class="text-center text-sm">
                              {% for referee in matches.referees %}
                              <span class="badge badge-success badge-sm mt-2"> {{ referee.firstName }}</span>
                                 
                                  {% if not loop.last %}<br> {% endif %}
                              {% endfor %}
                          </td>
                            
                            <td class=" text-center text-sm">{{ matches.player1.firstName }} {{ matches.player1.lastName }}</td>
                            <td class=" text-center text-sm">{{ matches.player2.firstName }} {{ matches.player2.lastName }}</td>
                            <td class="text-center text-sm">
                              {% if matches.player3 is not null %}
                                  {{ matches.player3.firstName }} {{ matches.player3.lastName }}
                              {% else %}
                                  N/A
                              {% endif %}
                          </td>
                          <td class="text-center text-sm">
                            {% if matches.player4 is not null %}
                                {{ matches.player4.firstName }} {{ matches.player4.lastName }}
                            {% else %}
                                N/A
                            {% endif %}
                        </td>
                        <td class="text-center text-sm">
                          {% for winner in matches.winners %}
                              <span class="badge badge-success badge-sm mt-2">{{ winner.firstName }} {{ winner.lastName }}</span>
                              {% if not loop.last %}<br> {% endif %}
                          {% endfor %}
                      </td>
                            
                            <td class=" text-center text-sm" > <span class="badge badge-danger badge-sm ">{{ matches.resultat }}</span></td>
                            <td class=" text-center text-sm" > <span class="badge badge-danger badge-sm ">{{ matches.etat }} </span></td>
                           
                            <td class=" text-center text-sm">
                             
                              <a href="{{ path('app_modmatch', {'id':matches.id}) }}" class="mx-3" data-bs-toggle="tooltip" data-bs-original-title="Edit Match">
                                <i class="material-icons text-secondary position-relative text-lg">drive_file_rename_outline</i>
                              </a>
                              <a href="{{ path('app_supmatch', {'id':matches.id}) }}" data-bs-toggle="tooltip" data-bs-original-title="Delete Match">
                                <i class="material-icons text-secondary position-relative text-lg">delete</i>
                              </a>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
      
                      </table>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      
      </div>
</main>
<script>
  // Get the search input element
  const searchInput = document.getElementById('matchSearchInput');

  // Add an event listener to the search input for keyup event
  searchInput.addEventListener('keyup', function() {
    const filter = searchInput.value.toLowerCase(); // Get the search filter value

    // Get all table rows in the table body
    const tableRows = document.querySelectorAll('#matches-list tbody tr');

    // Loop through each table row and hide/show based on the search filter
    tableRows.forEach(function(row) {
      const playerName = row.querySelector('.text-center.text-sm:nth-child(3)').innerText.toLowerCase();
      if (playerName.includes(filter)) {
        row.style.display = ''; // Show the row if the player name matches the filter
      } else {
        row.style.display = 'none'; // Hide the row if the player name doesn't match the filter
      }
    });
  });
</script>
{% endblock %}

