
{% extends 'baseClient.html.twig' %}

{% block content %}
<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
    <div class="col-12">
    <nav class="navbar navbar-expand-lg  blur border-radius-xl top-0 z-index-fixed shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
    <div class="container-fluid px-0">
    <a class="navbar-brand font-weight-bolder ms-sm-3  d-none d-md-block" href="index.html" rel="tooltip" title="Designed and Coded by Iset Beja DSI2.2" data-placement="bottom" target="_blank">
    Tunisian Federation Of Tennis
    </a>
    <a class="navbar-brand font-weight-bolder ms-sm-3  d-block d-md-none" href="index.html" rel="tooltip" title="Designed and Coded by Iset Beja DSI2.2" data-placement="bottom" target="_blank">
    Material Design
    </a>
    
    <ul class="navbar-nav mb-0 ms-auto d-lg-none d-block">
      <li class="nav-item">
        
        {% if app.user %}
        <div class="avatar-group">
          <div class="dropdown">
            <a href="#" role="button" class="avatar avatar-lg rounded-circle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ app.user.name }}">
              <img alt="Image placeholder" src="{{ asset('uploads/user_images/' ~ app.user.getImage) }}">
            </a>
            <ul class="dropdown-menu dropdown-menu-end position-absolute">
              <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
              <li><a class="dropdown-item" href="#">Reset Password</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
            </ul>
          </div>
        </div>
        
          <!-- initialization script for tooltips -->
          <script>
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
              return new bootstrap.Tooltip(tooltipTriggerEl)
            })
          </script>
        {% endif %}
        {% if app.user == null %}
            <a href="{{ path('app_login') }}" class="btn btn-sm  bg-gradient-primary  mb-0" >  Login </a>
        {% endif %}
      </li>
      </ul>
    <button class="navbar-toggler shadow-none ms-md-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon mt-2">
    <span class="navbar-toggler-bar bar1"></span>
    <span class="navbar-toggler-bar bar2"></span>
    <span class="navbar-toggler-bar bar3"></span>
    </span>
    </button>
    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
    <ul class="navbar-nav navbar-nav-hover ms-auto">
      <li class="nav-item mx-2">
        <a role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages" href="{{ path('app_referee_client') }}">
            <i class="material-icons opacity-6 me-2 text-md">home</i>
            Home
        </a>
    </li>
    <li class="nav-item mx-2">
      <a role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center"  href="{{ path('app_referee_client') }}">
          <i class="material-icons opacity-6 me-2 text-md">person</i>
          Players
      </a>
  </li>
  
  <li class="nav-item mx-2">
    <a role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages" href="{{ path('app_referee_client') }}">
        <i class="material-icons opacity-6 me-2 text-md">sports_tennis</i>
        Matches
    </a>
</li>

<li class="nav-item mx-2">
  <a role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages" href="{{ path('app_referee_client') }}">
      <i class="material-icons opacity-6 me-2 text-md">newspaper</i>
      News
  </a>
</li>
<li class="nav-item mx-2">
  <a role="button" class="nav-link ps-2 d-flex cursor-pointer align-items-center" id="dropdownMenuPages" href="{{ path('app_referee_client') }}">
      <i class="material-icons opacity-6 me-2 text-md">contacts</i>
      Contacts
  </a>
</li>

    </ul>
    <ul class="navbar-nav d-lg-block d-none">
    <li class="nav-item">
      
      {% if app.user %}
      <div class="avatar-group">
        <div class="dropdown">
          <a href="#" role="button" class="avatar avatar-lg rounded-circle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ app.user.name }}">
            <img alt="Image placeholder" src="{{ asset('uploads/user_images/' ~ app.user.getImage) }}">
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Logout</a></li>
            <li><a class="dropdown-item" href="#">Reset Password</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
          </ul>
        </div>
      </div>
      
        <!-- initialization script for tooltips -->
        <script>
          var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
          var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
          })
        </script>
      {% endif %}
      {% if app.user == null %}
          <a href="{{ path('app_login') }}" class="btn btn-sm  bg-gradient-primary  mb-0" >  Login </a>
      {% endif %}
    </li>
    </ul>
    </div>
    </div>
    </nav>
    <section class="pt-5 mt-7">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
            <div class="card">
              <div class="table-responsive">
                {% for match in matches %}
                {% set referees = match.getReferees() %}
            
                {% for referee in referees %}
                    {% if referee.getEmail() == app.user.email %}
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Players</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Referees</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tournament</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Winner</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      
                      <td>
                          <div class="d-flex flex-column justify-content-center">
                            <div class="d-flex flex-column justify-content-center">
                                {% if match.type == 'Single' %}
                                      
                                <h6 class="mb-0 text-xs text-center">{{ match.player1.getName() }} <p class="text-xs text-secondary mb-0"> VS </p> {{ match.player2.getName() }}</h6>
                                    
                                  {% elseif match.type == 'Double' %}
                                    
                                        <h6 class="mb-0 text-xs text-center">{{ match.player1.getName() }} - {{ match.player2.getName() }} <p class="text-xs text-secondary mb-0"> VS </p>{{ match.player3.getName() }} - {{ match.player4.getName() }}</h6>
                                          
                                  {% endif %}
                          </div>
                        </div>
                      </td>
                      <td>
                        
                          <div class="d-flex flex-column justify-content-center">
                            <div class="d-flex flex-column justify-content-center">
                              {% set referees = match.getReferees() %}
            
                              {% for referee in referees %}
                                      
                              <span class="badge badge-sm badge-success">{{ referee.firstName }} </span>
                              {% if not loop.last %}<br>{% endif %}
                              {% endfor %}
                                
                          </div>
                        </div>
                      
                      </td>
                      <td>
                        
                        <div class="d-flex flex-column justify-content-center">
                          <div class="d-flex flex-column justify-content-center">
                            <span class="badge badge-sm badge-danger">{{ match.tournament }}</span>
                      </div>
                    </div>
                      </td>
                      <td class="align-middle text-center text-sm">
                      {% if match.etat == 'en cours' %}
                        <span class="badge badge-sm badge-success">{{ match.etat }}</span>
                        {% elseif match.etat == 'termine' %}
                        {% for winner in match.winners %}
                        <span class="badge badge-sm badge-success">{{ winner.firstName }} {{ winner.lastName }}</span>
                        {% if not loop.last %}, {% endif %}
                        {% endfor %}
                        
                        {% else %}
                        <span class="badge badge-sm badge-success">{{ match.date|date('Y-m-d') }}</span>
                      {% endif %}
                      </td>
                      <td class="align-middle text-center">
                        <span class="text-secondary text-xs font-weight-bold">{{ match.date|date('Y-m-d') }}</span>
                      </td>
                      
                    </tr>
    
                    
    
                   
                  </tbody>
                </table>
                {% endif %}
                {% endfor %}
            {% endfor %}
          
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

{% endblock %}

