<!-- templates/match/result.html.twig -->

<div id="match-result">
    {% if match.etat == 'en_cours' %}
        <p>Score actuel : {{ match.resultat }}</p>
        <p>{{ match.player1.firstName }} vs {{ match.player2.firstName }}</p>
    {% elseif match.etat == 'termine' %}
        <p>{{ match.player1.firstName }} vs {{ match.player2.firstName }}</p>
        <p>Score final : {{ match.resultat }}</p>
        <p>Winner: {{ match.winner }}</p>
        <p>Loser: {{ match.loser }}</p>
    {% else %}
        <p>Date du match : {{ match.date }}</p>
        <p>{{ match.player1.firstName }} vs {{ match.player2.firstName }}</p>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
